body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: poppin-bold;
  src: url(font/Poppins/Poppins-Bold.ttf);
}
@font-face {
  font-family: poppin-light;
  src: url(font/Poppins/Poppins-Light.ttf);
}
@font-face {
  font-family: poppin-medium;
  src: url(font/Poppins/Poppins-Medium.ttf);
}
.font-bold {
  font-family: poppin-bold;
}
.font-light {
  font-family: poppin-light;
}
.font-medium {
  font-family: poppin-medium;
}
.top-contact {
  display: flex;
  justify-content: space-between;
  font-family: poppin-light;
}
.top-contact a {
  text-decoration: none;
  color: black;
}
.top-contact a:hover {
  text-decoration: underline;
}
.bg-color {
  background-color: #66ad69;
}
.my-nav {
  width: 100%;
  align-items: center;
  display: flex;
  /* color: white; */
  font-family: poppin-bold;
}
.logo a {
  font-weight: bold;
  font-size: 1.2em;
}
.my-nav-items {
  font-size: 1.2em;
  color: white !important;
  justify-content: end;
}
.my-nav-items ul {
  align-items: center;
  font-weight: bold;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for text */
  padding: 10px;
  border-radius: 5px;
}

/* Whatsapp Link CSS */
.whatsapp-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.whatsapp-icon img {
  width: 50px;
  height: 50px;
  /* display: block; */
}
.whatsapp-icon:hover {
  background-color: #128c7e;
}
footer {
  background-color: #333333;
}
.copyright-sec {
  background-color: #333333;
  width: 100%;
  height: fit-content;
  padding-top: 15px;
  border-top: 1px solid #e88d1e;
  padding-bottom: 5px;
}
.target-top {
  padding: 5px;
  cursor: pointer;
  width: 30px;
  margin: auto;
}
.copyright-sec .social a {
  color: white;
}

.client-logo {
  max-width: 150px;
  max-height: 80px;
  object-fit: contain;
  margin: 0 10px;
}

@media (max-width: 768px) {
  .client-logo {
    max-width: 100px;
    max-height: 60px;
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #343a40;
  border-radius: 50%;
}

/* Hover effect: Add shadow on hover */
.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Icon size */
.card i {
  font-size: 50px;
  color: #007bff;
}

/* Short description style */
.short-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
