@media only screen and (max-width: 510px) {
  header .top-contact {
    display: none;
  }
}
@media only screen and (max-width: 991px) {
  .margin {
    margin-top: 25px;
  }
  .padding-footer {
    padding-top: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .pad-footer {
    padding-top: 30px;
  }
}
